.sales{
     display: flex;
    align-items: center;
    background-color: whitesmoke;
}

img {
    width: 50%;
    height: 40%;
}

.service-photo{
    width: 80%;
    height: 100%;
}
.sales-info {
      background-color: whitesmoke;
    height: 100%;
    margin: 30px;
}

.parts-info{
 background-color: whitesmoke;
    height: 100%;
    margin: 30px;
}

.service-info{
 background-color: whitesmoke;
    height: 100%;
    margin: 30px;
}

.parts{
display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.service-center{
display: flex;
    align-items: center;
    background-color: whitesmoke;
}